.header {
    position: fixed;
    width: 100%;
    background-color: #ff6fa2;
    padding: 10px;
    color: #fff;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    .icon-arrow-left {
        position: absolute;
        left: 10px;
        font-size: 20px;
        margin: 5px 0;
    }
}
